In [3]:
import pandas as pd

In [10]:
dataframe = pd.read_csv('grades.csv', sep='\t')

In [11]:
dataframe

,stdNo,stdName,BirthDate,email,Test 1,Test 2,Lab 1,Lab 2,Lab 3,Lab 4
0,701,Rosa C. Olsen,07/06/1996,l0701@aln.iseg.ulisboa.pt,16.8,9.2,12.6,10.6,13.7,9.2
1,798,Clarence Sheridan,03/01/1996,l0798@aln.iseg.ulisboa.pt,15.8,15.8,18.9,19.6,14.2,4.3
2,854,Jaclyn T. Glover,20/09/1995,l0854@aln.iseg.ulisboa.pt,11.2,8.5,9.1,16.8,13.0,19.6
3,663,Catherine U. Buggs,09/12/1995,l0663@aln.iseg.ulisboa.pt,15.0,6.8,5.4,8.2,6.2,4.4
4,921,James E. Watkins,08/08/1999,l0921@aln.iseg.ulisboa.pt,11.0,8.0,16.9,5.4,14.9,5.1
5,890,Babara T. Best,09/04/1998,l0890@aln.iseg.ulisboa.pt,14.0,12.0,19.3,11.5,18.9,19.1
6,666,Carlton L. Dickerson,24/07/1997,l0666@aln.iseg.ulisboa.pt,15.7,7.1,19.7,8.5,8.7,4.3
7,843,Kerry K. Ratliff,30/05/2000,l0843@aln.iseg.ulisboa.pt,11.4,8.6,14.6,12.1,13.4,19.8
8,991,Carrie D. Johnson,21/08/1998,l0991@aln.iseg.ulisboa.pt,8.2,11.3,19.1,14.9,13.8,12.0
9,798,Harold Brown,18/01/1999,l0798@aln.iseg.ulisboa.pt,18.7,14.9,12.3,10.6,11.5,17.3
10,713,Camilla N. Welch,05/08/1997,l0713@aln.iseg.ulisboa.pt,16.4,17.6,11.0,18.0,4.3,20.0
11,755,Chelsey K. Kinley,29/05/2000,l0755@aln.iseg.ulisboa.pt,18.3,9.2,14.2,5.6,16.9,12.1
12,786,Julie Triplett,15/09/1996,l0786@aln.iseg.ulisboa.pt,16.8,11.4,17.5,6.3,15.2,20.0
13,507,John Lopez,29/12/1995,l0507@aln.iseg.ulisboa.pt,10.6,14.4,17.4,13.7,17.0,10.6
14,873,James O. Boyce,24/04/1996,l0873@aln.iseg.ulisboa.pt,11.8,11.5,10.3,12.7,16.1,19.7
15,581,Pedro J. Taylor,17/06/1995,l0581@aln.iseg.ulisboa.pt,12.2,17.1,7.6,9.8,6.6,9.1

dataframe.iloc[linha, coluna] - usa índices
dataframe.iloc[linha, coluna] - usa o nome das colunas

In [14]:
dataframe.iloc[3:5,2:6]

    BirthDate                      email  Test 1  Test 2
3  09/12/1995  l0663@aln.iseg.ulisboa.pt    15.0     6.8
4  08/08/1999  l0921@aln.iseg.ulisboa.pt    11.0     8.0

In [18]:
dataframe.loc[3, 'stdName':'email']

stdName             Catherine U. Buggs
BirthDate                   09/12/1995
email        l0663@aln.iseg.ulisboa.pt
Name: 3, dtype: object

In [25]:
my_w = pd.ExcelWriter('novo_excel.xlsx', engine='xlsxwriter')

In [26]:
dataframe.to_excel(my_w,sheet_name='notas', index=False)

In [27]:
my_w.close()